NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000

POSTGRES_CONTAINER_NAME=announcements-postgres
APP_CONTAINER_NAME=announcements-app
POSTGRES_PORT=5432
POSTGRES_USER=johndoe
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=mydb

DATABASE_URL=postgresql://johndoe:your_postgres_password@localhost:5432/mydb?schema=public
DATABASE_URL_DOCKER=postgresql://johndoe:your_postgres_password@postgres:5432/mydb?schema=public

JWT_SECRET=ymvA4EZt2nbVF0TrELCzgyR-kbRIz7-qHaZGm4fwNGJsMcArEgKpBSu2aPONuw2uFDPOe0TOmTp44vnXrtLy2Q
SALT_ROUNDS=10
ACCESS_TOKEN_LIFETIME=900000
REFRESH_TOKEN_LIFETIME=604800000
ACCESS_TOKEN_COOKIE=accessToken
REFRESH_TOKEN_COOKIE=refreshToken

ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret