NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000

POSTGRES_CONTAINER_NAME=announcements-postgres
APP_CONTAINER_NAME=announcements-app
POSTGRES_PORT=5432
POSTGRES_USER=johndoe
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=mydb

DATABASE_URL=postgresql://johndoe:your_postgres_password@localhost:5432/mydb?schema=public
DATABASE_URL_DOCKER=postgresql://johndoe:your_postgres_password@postgres:5432/mydb?schema=public

JWT_SECRET=replace_with_strong_secret
